@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-size: 15px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "League Spartan", sans-serif;
}

body {
  background: linear-gradient(hsl(273deg, 75%, 66%) 50%, hsl(240deg, 73%, 65%));
  display: grid;
  place-items: center;
  font-family: "Kumbh Sans", serif;
  color: hsl(238deg, 29%, 16%);
  min-height: 100vh;
}

.faq::before {
  content: "";
  position: absolute;
  background: url(/images/illustration-woman-online-mobile.svg) no-repeat;
  width: 260px;
  height: 180px;
  top: 0;
  left: 50%;
  transform: translate(-45%, -60%);
}

.faq::after {
  content: "";
  position: absolute;
  background: url(/images/bg-pattern-mobile.svg) no-repeat;
  width: 260px;
  height: 180px;
  top: 0;
  left: 50%;
  transform: translate(-45%, 0%);
}

.faq {
  background-color: white;
  width: 90%;
  max-width: 360px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  margin: 50px 0;
  position: relative;
  padding-bottom: 60px;
}
.faq .questions__title {
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
  font-family: inherit;
}
.faq .questions .question {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
}
.faq .questions .question__title {
  font-weight: normal;
  padding: 10px 0;
  font-family: inherit;
}
.faq .questions .question__text {
  padding-bottom: 10px;
  font-family: inherit;
  color: hsl(240deg, 6%, 50%);
  display: none;
  font-size: 14px;
  line-height: 1.3;
  width: 95%;
}
.faq .questions .question__btn {
  align-self: flex-start;
  background-color: inherit;
  border: none;
  color: orange;
  padding: 1rem;
  padding-top: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  transform-origin: center;
}

.question.active .question__text {
  display: inline-block;
}

.question.active .question__btn {
  transform: rotate(180deg);
}

.question.active .question__title {
  font-weight: 700;
  color: hsl(238deg, 29%, 16%);
}

@keyframes boxHop {
  0% {
    transform: translate(-55%, -55%);
  }
  50% {
    transform: translate(-55%, -57.5%);
  }
  100% {
    transform: translate(-55%, -55%);
  }
}
@media (min-width: 900px) {
  .faq {
    max-width: 900px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    background: url(/images/illustration-woman-online-desktop.svg) bottom 3.1rem left -5.1rem no-repeat, url(/images/bg-pattern-desktop.svg) bottom -11rem left -38rem no-repeat;
    background-color: white;
  }
  .faq .questions {
    padding-right: 4rem;
    padding-bottom: 1rem;
    margin-top: -4rem;
    width: 70%;
  }
  .faq .questions__title {
    margin-left: -50px;
  }
  .faq::before {
    content: "";
    background: url(/images/illustration-box-desktop.svg) no-repeat;
    width: 140px;
    height: 190px;
    position: absolute;
    top: 66%;
    left: -1.6%;
    transform: translate(-55%, -55%);
    animation: boxHop 2s ease-in-out;
    animation-iteration-count: infinite;
  }
  .faq::after {
    display: none;
  }
  .question {
    width: 60%;
    margin-left: auto;
    transition: all 0.3s;
  }
  .question:hover {
    color: orange;
  }
  .question__title {
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */